$primary: #44aeff;
$primaryButton: #44aeff88;
$secondary: #242424;


:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.9);
    background-color: #242424;
}
.dark-theme{
    --primary-color: #44aeff;
    --secondary-color: #464646;
    --background-color: #242424;
}

.header{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    font-size: 40px;
    background: #464646;
    &__title{
        color: $primary;
        text-align: center;
        align-items: center;
        will-change:auto;
        transition: 0.1s linear;
        width: 150px;
        height: 100%;
        border-radius: 10px;
      &:hover{
        color: #242424;
        background: $primary;
        cursor: pointer;
        transition: 0.1s linear;
      }
    }
    &__status{
        animation: pulse 1s infinite;
    }
  }
.dialog__image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    height: max-content;
    border-radius: 20px;
    background: #242424;
    margin: 80px auto;
    .dialog__content{
        display: flex;
        justify-content: center;
        background: #353535;
        margin-bottom: 2em;
    }
    .dialog__desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        &__input{
            display: flex;
            background: #242424;
            border-bottom: 1px solid gray;
            font-size: 16px;
            width: 80%;
            &:focus{
                border:none;
                border-bottom: 1px solid gray;
            }
        }
    }
}
.icon{
    &__addImage{
        width: max-content;
        height: 100%;
        &:hover{
            cursor: pointer;
            background: $primaryButton;
        }
    }
}
.control__panel{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}
.my__button{
    display: flex;
    background: none;
    border: none;
    font-size: 18px;
    padding: 4px;
    border-radius: 4px;
    color: $primary;
    &:hover{
        background: $primaryButton;
    }
}

@keyframes pulse {
  50%{
    filter: drop-shadow(0.1rem 0.1rem 2rem green);
  }
}